.hero__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__title{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: #0b132a;
    .want{
        font-weight: 700;
    }
}

.hero__block{
    padding-top: 101px;
}

.hero__text{
    margin-bottom: 50px;
    width: 555px;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #4f5665;
    .word{
        font-weight: 500;
    }
}

.hero__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 156%;
    padding: 17px 77px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color:  #f53838;
    transition: .45s;

    &:hover{
        cursor: pointer;
    }

    &:active{
        transform: scale(.95);
        background-color: #f87b7b;
    }
}

.hero__tablet{
    display: none;
}

@media screen and (max-width: 995px) {
    .hero__title{
        font-size: 40px;
        line-height: 120%;
        width: 455px;
    }

    .hero__text{
        font-size: 14px;
        line-height: 157%;
        width: 355px;
    }

    .hero__laptop{
        display: none;
    }

    .hero__tablet{
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .hero__wrapper{
        margin-bottom: 32px;
    }

    .hero__block{
        display: block;
    }

    .hero__tablet{
        display: none;
    }

    .hero__laptop{
        display: block;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .hero__title{
        width: auto;
    }

    .hero__text{
        width: auto;
    }
}